nav{
    background-color:transparent !important;
    font-weight: 500;
    color: white !important;
}

app-cart-badge{
    padding: 0;
    cursor: pointer;      
}

img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.navbar-toggler{
    color: white !important;
}