nav{
    background-color:transparent !important;
    font-weight: 500;
    color: white !important;
}

app-cart-badge{
    padding: 0;
    cursor: pointer;      
}

img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.navbar-toggler{
    color: white !important;
}

@media only screen and (max-width: 400px){
    .navbar-toggler{
        color: black !important;
    }

    nav{
        background-color:transparent !important;
        font-weight: 500;
        color: black !important;
    }

    a{
        color: black !important;
    }
}
