input, select, textarea{
    padding: 5px;
    width: 400px;
    background-color: aliceblue;
    margin: 5px;
    border: none;
}

button{
    width: 100px;
    margin-top: 20px;
}

img{
    width: 200px;
    height: 150px;
}