<div class="products-body d-flex align-items-center justify-content-center">
    <div class="container row d-flex align-items-center justify-content-center">
        <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let singleProduct of products">
            <div class="card-header" [routerLink]="['/products', singleProduct.id]"
                routerLinkActive="router-link-active">
                {{singleProduct.productName }}
            </div>
            <div class="card-body d-flex align-items-center justify-content-center"  [routerLink]="['/products', singleProduct.id]"
                routerLinkActive="router-link-active">
                <img [src]="singleProduct.imgUrl" alt="product-image">
            </div>
            <div class="card-footer" fxLayout="row" fxLayoutAlign="space-between center">
                <strong>Ksh. {{singleProduct.price}} </strong>
                <span><button class="btn btn-sm badge-success" (click)="addToCart(singleProduct.id)"> <i
                            class="fas fa-cart-plus"></i>Add to cart</button></span>
            </div>
        </div>
    </div>
</div>