img{
    height: 80%;
    width: 50%;
}
.card{
    padding: 0;
    margin: 10px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 40%;
    width: 80%;    
}

.card-body{
    padding: 0;
    cursor: pointer;
    height: 175px;
}


.card-header{
    background-color: #F7F7F7;
    cursor: pointer;
    font-weight: 700;
}

.btn{
    padding: 7px;
    margin: 0;
    border-radius: 0 !important;
}

i{
    font-size: 16px;
    margin-right: 2px;
}

.card-footer{
    padding: 0px !important;
    font-size: 14px;
}

.card{
    border-radius: 2px !important;
    padding: 0;
    border: none;    
}


.card-holder, .product-body{
    padding: 0;
    border: none;
}


