.image{
    height:100%; 
    background-size:cover;
    width:auto;
    background-image:url('../assets/asconi/bg.jpg');
   // background-position:50% 50%;

  /* Center and scale the image nicely */
  background-position: center;
  }

