span{
    padding: 0;
    margin-top: 8px; 
    color: white !important;
    font-size: smaller;
}

i{
    color: white !important;
    font-size: 14px;
    margin: 10px;
}

@media only screen and (max-width: 400px){
    i{
        color: black !important;
    }

    a{
        color: black !important;
    }

    span{
        color: black!important;
    }
}