span{
    padding: 0;
    margin-top: 8px;  
}

i{
    color: white !important;
}

@media only screen and (max-width: 400px){
    i{
        color: black !important;
    }

    a{
        color: black !important;
    }
}