<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource && cart.length;else notLoaded">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Product Name Column -->
    <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Number </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #notLoaded>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1> No Products in cart </h1>
        <a class="btn btn-primary" [routerLink]="['/products']" routerLinkActive="router-link-active">Go to products page</a> 
    </div>
</ng-template>

