table {
    width: 100%;
}

.total{
    margin-top: 20px;
}

.total-value{
    border: 0.1px solid grey;
    border-radius: 5px;
   width: 200px;
    font-size: larger;
    background-color: #EBA154;
    color: white;
    font-weight: bolder;
    padding: 5px;
}

button{
    width: 200px;
}

.action-btn{
    width: 30px !important;
    text-align: center !important;
}

th, td{
    padding: 1px 4px !important;
    text-align: center;
}

th.mat-header-cell{
    text-align: center !important;
    font-weight: 600;
}

@media only screen and (min-width: 768px){
    .numberCell{
        display: flex !important;
        flex-direction: row-reverse !important;
        place-content: center !important;
        align-items: center !important;
    }
}