/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; //make modal work, material ui

@import "~ngx-toastr/toastr"; //for toast

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body {
  min-height: 100vh;
  height: 100vh;
  background-size: cover !important;
  width: auto;
  background: url("./assets/images/bg.jpg") no-repeat;
  background-position: center center;
  font-family: 'Caveat', cursive; 
}
@media only screen and (max-width: 400px) {
  body {
    background-size: 100% 100% !important;
  }
}

.toastMessage{
  font-family: 'Caveat', cursive;
  color: white;
}
