<div *ngIf="cart && cart?.length;else notLoaded" class="p-5">
    <h4 class="text-center">Your Cart</h4>
    <mat-card>

        <mat-list fxLayout="column" fxLayoutAlign="center center">
            <mat-list-item *ngFor="let cartItem of displayCart">
                <img matListAvatar [src]="cartItem[0].imgUrl" alt="item-image">
                <h3 matLine> {{cartItem[0].productName}} </h3>
                <p matLine>
                    <span>Price: Ksh.{{cartItem[0].price}} </span>
                    <span>Qnty: {{cartItem[1]}} </span> <br>
                    <span class="font-weight-bold font-italic">Total: Ksh.{{cartItem[0].price * cartItem[1]}}</span>
                </p>
            </mat-list-item>
        </mat-list>

        <div class="m-3" fxLayout="row" fxLayoutAlign="center center">
            <div class="btn btn-warning text-center font-weight-bolder">Grand Total: {{grandTotal}}</div>
        </div>
        
        <div class="text-center" fxLayout="row wrap" fxLayoutAlign="center center">
            <button class="btn btn-outline-info m-1" (click)="editOrder()">Edit Order</button>
            <button class="btn btn-success m-1" (click)="submitOrder()">Submit Order</button>
            <button class="btn btn-outline-danger m-1" (click)="cancelOrder()">Cancel Order</button>
        </div>        
    </mat-card>
</div>

<ng-template #notLoaded>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h5 class="text-center"> Nothing to checkout </h5>
        <a class="btn btn-primary" [routerLink]="['/products']" routerLinkActive="router-link-active">Go to products
            page</a>
    </div>
</ng-template>