<div class="card" fxLayout="column" fxLayoutAlign="center center">
    <div class="card-header" fxLayout="row" fxLayoutAlign="space-between center">
        <span>
            Case of {{singleProduct?.productName}}
        </span>
        <span>
            Ksh. {{singleProduct?.price}}
        </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <img [src]="singleProduct?.imgUrl" alt="single-product-img">
    </div>
    <div class="description" fxFill>
        <strong>Details: </strong>
        <p>{{singleProduct?.description}}</p>
    </div>
    <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
        <button class="btn btn-lg badge-success m-1" (click)="addToCart()" fxLayout="row"
            fxLayoutAlign="space-around center">
            <i class="fas fa-cart-plus"></i>
        </button>

        <button class="btn btn-lg badge-info m-1" (click)="goBack()" fxLayout="row"
            fxLayoutAlign="space-around center">
            <i class="fas fa-angle-double-left"></i>
        </button>
    </div>
</div>