img{
    height: 40%;
    width: 50%;
}

.card{
    margin: 0px 10%;
}

button{
    width: 100%;
    margin: 0;
    font-size: 15px !important;
}

.card-header{
    background-color: #f7f7f7;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    width: 100%;
    margin: 0;
}

.description{
    padding: 10px;
}


